<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
		<add name="BAREST.Properties.Settings.BaseBarestConnectionString1"
            connectionString="Data Source=NACHO-PC\SQLEXPRESS;Initial Catalog=BaseBarest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
</configuration>