USE [BaseBarest]
GO
/****** Object:  Table [dbo].[CajaChica]    Script Date: 15/07/2021 12:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CajaChica](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CajaGeneral]    Script Date: 15/07/2021 12:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CajaGeneral](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](1) NULL,
	[montoTotal] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CajaSocio]    Script Date: 15/07/2021 12:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CajaSocio](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 15/07/2021 12:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[telefono] [varchar](50) NULL,
	[apellido] [varchar](50) NULL,
 CONSTRAINT [PK__Cliente__3213E83F9B268C85] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 15/07/2021 12:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[NombreCliente] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[telefono] [varchar](50) NOT NULL,
	[dni] [nchar](10) NOT NULL,
	[domicilio] [nchar](50) NOT NULL,
	[depto] [nchar](10) NOT NULL,
	[piso] [nchar](10) NULL,
	[altura] [nchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cobro]    Script Date: 15/07/2021 12:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cobro](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NULL,
	[montoTotal] [float] NULL,
	[decuentoTotal] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comanda]    Script Date: 15/07/2021 12:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comanda](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NULL,
	[hora] [time](7) NULL,
	[numeroComanda] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Delivery]    Script Date: 15/07/2021 12:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Delivery](
	[descripcion] [varchar](1) NULL,
	[numero] [varchar](1) NULL,
	[viaje] [int] NULL,
	[distancia] [varchar](1) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleCobro]    Script Date: 15/07/2021 12:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCobro](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descuento] [float] NULL,
	[codigo] [varchar](1) NULL,
	[articulo] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleComanda]    Script Date: 15/07/2021 12:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleComanda](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[precioUnitario] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleMenu]    Script Date: 15/07/2021 12:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleMenu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK__DetalleM__3213E83F854F1DC4] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Domicilio]    Script Date: 15/07/2021 12:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Domicilio](
	[calle] [varchar](50) NULL,
	[dpto] [char](5) NULL,
	[numero] [char](10) NULL,
	[piso] [char](10) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idLocalidad] [int] NOT NULL,
 CONSTRAINT [PK__Domicili__3213E83FA79A614E] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 15/07/2021 12:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[legajo] [varchar](50) NOT NULL,
	[contraseña] [varchar](50) NOT NULL,
	[cargo] [varchar](100) NOT NULL,
	[idPersona] [int] NOT NULL,
 CONSTRAINT [PK__Empleado__3213E83F45A37669] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoReserva]    Script Date: 15/07/2021 12:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoReserva](
	[id] [int] NOT NULL,
	[Descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_EstadoReserva] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormaDeCobro]    Script Date: 15/07/2021 12:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormaDeCobro](
	[tipo] [varchar](1) NULL,
	[descripcion] [varchar](1) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gasto]    Script Date: 15/07/2021 12:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gasto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NULL,
	[hora] [time](7) NULL,
	[descripcion] [varchar](1) NULL,
	[cantidad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Insumo]    Script Date: 15/07/2021 12:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Insumo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](100) NOT NULL,
	[unidad] [char](10) NULL,
	[cant] [float] NULL,
	[idProveedor] [int] NULL,
	[idRubro] [int] NULL,
 CONSTRAINT [PK__Insumo__3213E83FA0F08CAF] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Juego]    Script Date: 15/07/2021 12:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Juego](
	[nombre] [varchar](1) NULL,
	[numeroDeJuego] [int] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Localidad]    Script Date: 15/07/2021 12:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Localidad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombreLocalidad] [varchar](50) NOT NULL,
	[codigoPostal] [varchar](10) NULL,
	[idProvincia] [int] NOT NULL,
 CONSTRAINT [PK__Localida__3213E83F2F0DB6E9] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 15/07/2021 12:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[idRubroMenu] [int] NOT NULL,
	[precio] [float] NOT NULL,
	[Foto] [image] NULL,
 CONSTRAINT [PK__Menu__3213E83FD6E9654D] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mesa]    Script Date: 15/07/2021 12:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mesa](
	[numero] [char](5) NULL,
	[posicion] [varchar](100) NULL,
	[capacidad] [int] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK__Mesa__3213E83F4A0A2A4B] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 15/07/2021 12:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[telefono] [varchar](25) NOT NULL,
	[fechaNacimiento] [date] NOT NULL,
	[cuil] [varchar](11) NOT NULL,
 CONSTRAINT [PK__Persona__3213E83FDF454EA2] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 15/07/2021 12:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[nombreProveedor] [varchar](100) NOT NULL,
	[descripcion] [varchar](100) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[telefono] [varchar](50) NOT NULL,
	[idDomicilio] [int] NOT NULL,
 CONSTRAINT [PK__Proveedo__3213E83F33BC93E0] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 15/07/2021 12:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[NombreProveedor] [varchar](150) NOT NULL,
	[Razon] [varchar](100) NOT NULL,
	[telefono] [nchar](30) NOT NULL,
	[domicilio] [nchar](50) NOT NULL,
	[altura] [nchar](10) NOT NULL,
	[depto] [nchar](50) NULL,
	[piso] [nchar](50) NULL,
	[codPostal] [nchar](10) NOT NULL,
	[localidad] [varchar](50) NOT NULL,
	[Provincia] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 15/07/2021 12:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombreProvincia] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Provinci__3213E83F14378B90] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[provisorio]    Script Date: 15/07/2021 12:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[provisorio](
	[cantidad] [varchar](100) NOT NULL,
	[detalles] [varchar](50) NOT NULL,
	[pUnitario] [varchar](100) NOT NULL,
	[comensales] [varchar](100) NOT NULL,
	[mesa] [varchar](100) NOT NULL,
	[mozo] [varchar](100) NOT NULL,
	[id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Punto]    Script Date: 15/07/2021 12:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Punto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cantidad] [int] NULL,
	[fecha] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reserva]    Script Date: 15/07/2021 12:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cantDePersona] [int] NOT NULL,
	[numeroDeReserva] [int] NULL,
	[fecha] [date] NULL,
	[idTurno] [int] NOT NULL,
	[idMesa] [int] NOT NULL,
	[idEstadoReserva] [int] NULL,
	[idCliente] [int] NOT NULL,
	[hora] [char](10) NULL,
	[Posicion] [varchar](50) NULL,
 CONSTRAINT [PK__Reserva__3213E83FAC8F547D] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reserva2]    Script Date: 15/07/2021 12:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva2](
	[id] [int] NULL,
	[clienteNombre] [varchar](50) NOT NULL,
	[cantidad] [int] NOT NULL,
	[hora] [time](7) NOT NULL,
	[fecha] [date] NOT NULL,
	[telefono] [varchar](50) NOT NULL,
	[descripcionCliente] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rubro]    Script Date: 15/07/2021 12:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rubro](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](100) NOT NULL,
 CONSTRAINT [PK__Rubro__3213E83F8A6E3BE7] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RubroMenu]    Script Date: 15/07/2021 12:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RubroMenu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcionMenu] [varchar](50) NOT NULL,
 CONSTRAINT [PK__RubroMen__3213E83F26E25C84] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sucursal]    Script Date: 15/07/2021 12:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sucursal](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[numero] [varchar](1) NULL,
	[descripcion] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoDeIVA]    Script Date: 15/07/2021 12:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoDeIVA](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[porcentaje] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Turno]    Script Date: 15/07/2021 12:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turno](
	[id] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Turno] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([id], [nombre], [telefono], [apellido]) VALUES (1, N'canes', N'145214521', N'jolicoeur')
INSERT [dbo].[Cliente] ([id], [nombre], [telefono], [apellido]) VALUES (2, N'marie', N'10000000', N'teresa')
INSERT [dbo].[Cliente] ([id], [nombre], [telefono], [apellido]) VALUES (1002, N'fhfh', N'jffj', N'djkfj')
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
INSERT [dbo].[Clientes] ([NombreCliente], [Apellido], [telefono], [dni], [domicilio], [depto], [piso], [altura]) VALUES (N'sara', N'jihane', N'54 9 43740934', N'58432456  ', N'blv san juan                                      ', N'D         ', N'3         ', N'240       ')
GO
SET IDENTITY_INSERT [dbo].[DetalleMenu] ON 

INSERT [dbo].[DetalleMenu] ([id], [descripcion]) VALUES (1, N'huevo')
INSERT [dbo].[DetalleMenu] ([id], [descripcion]) VALUES (2, N'carne')
INSERT [dbo].[DetalleMenu] ([id], [descripcion]) VALUES (3, N'Papas')
SET IDENTITY_INSERT [dbo].[DetalleMenu] OFF
GO
SET IDENTITY_INSERT [dbo].[Domicilio] ON 

INSERT [dbo].[Domicilio] ([calle], [dpto], [numero], [piso], [id], [idLocalidad]) VALUES (N' paysandu', N' 2   ', N' 123      ', N' 0        ', 1006, 1006)
INSERT [dbo].[Domicilio] ([calle], [dpto], [numero], [piso], [id], [idLocalidad]) VALUES (N' san salvador', N'1    ', N'123       ', N'2         ', 1007, 1007)
INSERT [dbo].[Domicilio] ([calle], [dpto], [numero], [piso], [id], [idLocalidad]) VALUES (N' fddanl', N' 21  ', N' 12       ', N' 1        ', 1008, 1008)
SET IDENTITY_INSERT [dbo].[Domicilio] OFF
GO
SET IDENTITY_INSERT [dbo].[Empleado] ON 

INSERT [dbo].[Empleado] ([id], [legajo], [contraseña], [cargo], [idPersona]) VALUES (2, N'jmani', N'mani', N'Mozo', 1)
INSERT [dbo].[Empleado] ([id], [legajo], [contraseña], [cargo], [idPersona]) VALUES (1002, N'jmani', N'mani', N'Mozo', 2)
INSERT [dbo].[Empleado] ([id], [legajo], [contraseña], [cargo], [idPersona]) VALUES (2002, N'caleb1', N'jess', N'Administrador ', 1002)
SET IDENTITY_INSERT [dbo].[Empleado] OFF
GO
SET IDENTITY_INSERT [dbo].[Insumo] ON 

INSERT [dbo].[Insumo] ([id], [descripcion], [unidad], [cant], [idProveedor], [idRubro]) VALUES (1, N'pre Pizza', N'Un        ', 1200, NULL, NULL)
INSERT [dbo].[Insumo] ([id], [descripcion], [unidad], [cant], [idProveedor], [idRubro]) VALUES (2, N'Coca Cola', N'Caja      ', 10, NULL, NULL)
INSERT [dbo].[Insumo] ([id], [descripcion], [unidad], [cant], [idProveedor], [idRubro]) VALUES (3, N'aceite', N'Litro     ', 2, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Insumo] OFF
GO
SET IDENTITY_INSERT [dbo].[Localidad] ON 

INSERT [dbo].[Localidad] ([id], [nombreLocalidad], [codigoPostal], [idProvincia]) VALUES (1006, N' cordoba', N' 435', 1006)
INSERT [dbo].[Localidad] ([id], [nombreLocalidad], [codigoPostal], [idProvincia]) VALUES (1007, N'san roque', N'546', 1007)
INSERT [dbo].[Localidad] ([id], [nombreLocalidad], [codigoPostal], [idProvincia]) VALUES (1008, N' cordoba', N' dkj', 1008)
SET IDENTITY_INSERT [dbo].[Localidad] OFF
GO
SET IDENTITY_INSERT [dbo].[Menu] ON 

SET IDENTITY_INSERT [dbo].[Menu] OFF
GO
SET IDENTITY_INSERT [dbo].[Mesa] ON 

INSERT [dbo].[Mesa] ([numero], [posicion], [capacidad], [id]) VALUES (N'12   ', N'Planta baja', 6, 1)
INSERT [dbo].[Mesa] ([numero], [posicion], [capacidad], [id]) VALUES (N'14   ', N'afuera', 6, 2)
INSERT [dbo].[Mesa] ([numero], [posicion], [capacidad], [id]) VALUES (N'12P  ', N'patio', 4, 3)
SET IDENTITY_INSERT [dbo].[Mesa] OFF
GO
SET IDENTITY_INSERT [dbo].[Persona] ON 

INSERT [dbo].[Persona] ([id], [nombre], [apellido], [telefono], [fechaNacimiento], [cuil]) VALUES (1, N'maken', N'Jolicoeur', N'2346543', CAST(N'2020-01-01' AS Date), N'85214796')
INSERT [dbo].[Persona] ([id], [nombre], [apellido], [telefono], [fechaNacimiento], [cuil]) VALUES (2, N'maken', N'Jolicoeur', N'2346543', CAST(N'2020-01-01' AS Date), N'85214796')
INSERT [dbo].[Persona] ([id], [nombre], [apellido], [telefono], [fechaNacimiento], [cuil]) VALUES (1002, N'caleb', N'jolicoeur', N'3512561796', CAST(N'1996-09-30' AS Date), N'96941272')
SET IDENTITY_INSERT [dbo].[Persona] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedor] ON 

INSERT [dbo].[Proveedor] ([nombreProveedor], [descripcion], [id], [telefono], [idDomicilio]) VALUES (N' caleb', N' caleb.rs', 1008, N' 234568704', 1008)
INSERT [dbo].[Proveedor] ([nombreProveedor], [descripcion], [id], [telefono], [idDomicilio]) VALUES (N' nacho', N' nacho.sa', 1009, N' 2137375769', 1009)
SET IDENTITY_INSERT [dbo].[Proveedor] OFF
GO
INSERT [dbo].[Proveedores] ([NombreProveedor], [Razon], [telefono], [domicilio], [altura], [depto], [piso], [codPostal], [localidad], [Provincia]) VALUES (N'caleb', N'arquitecto.pizza', N'54356923434                   ', N'san salvador                                      ', N'1456      ', N'0                                                 ', N'0                                                 ', N'5012      ', N'Cordoba', N'Cordoba')
GO
SET IDENTITY_INSERT [dbo].[Provincia] ON 

INSERT [dbo].[Provincia] ([id], [nombreProvincia]) VALUES (1006, N' cordoba')
INSERT [dbo].[Provincia] ([id], [nombreProvincia]) VALUES (1007, N'cordoba')
INSERT [dbo].[Provincia] ([id], [nombreProvincia]) VALUES (1008, N' cordoba')
SET IDENTITY_INSERT [dbo].[Provincia] OFF
GO
INSERT [dbo].[provisorio] ([cantidad], [detalles], [pUnitario], [comensales], [mesa], [mozo], [id]) VALUES (N'4', N'Papas', N'200', N'2', N'C2', N'Caleb', NULL)
INSERT [dbo].[provisorio] ([cantidad], [detalles], [pUnitario], [comensales], [mesa], [mozo], [id]) VALUES (N'1', N'Lomito', N'350', N'3', N'C5', N'Juan', NULL)
INSERT [dbo].[provisorio] ([cantidad], [detalles], [pUnitario], [comensales], [mesa], [mozo], [id]) VALUES (N'2', N'Papas', N'200', N'4', N'C6', N'Caleb', NULL)
GO
SET IDENTITY_INSERT [dbo].[Reserva] ON 

INSERT [dbo].[Reserva] ([id], [cantDePersona], [numeroDeReserva], [fecha], [idTurno], [idMesa], [idEstadoReserva], [idCliente], [hora], [Posicion]) VALUES (1003, 6, 101, CAST(N'2012-06-18' AS Date), 3, 2, NULL, 2, NULL, NULL)
INSERT [dbo].[Reserva] ([id], [cantDePersona], [numeroDeReserva], [fecha], [idTurno], [idMesa], [idEstadoReserva], [idCliente], [hora], [Posicion]) VALUES (1010, 9, 2000, CAST(N'2021-07-10' AS Date), 1, 3, NULL, 1005, N'10:00     ', N'salon')
INSERT [dbo].[Reserva] ([id], [cantDePersona], [numeroDeReserva], [fecha], [idTurno], [idMesa], [idEstadoReserva], [idCliente], [hora], [Posicion]) VALUES (1011, 5, 500, CAST(N'2021-06-15' AS Date), 2, 5, NULL, 1006, N'23:00     ', N'Patio')
SET IDENTITY_INSERT [dbo].[Reserva] OFF
GO
SET IDENTITY_INSERT [dbo].[Rubro] ON 

INSERT [dbo].[Rubro] ([id], [descripcion]) VALUES (1, N'Bebida sin Alcohol')
INSERT [dbo].[Rubro] ([id], [descripcion]) VALUES (2, N'Verduras')
INSERT [dbo].[Rubro] ([id], [descripcion]) VALUES (1002, N'carniceria')
SET IDENTITY_INSERT [dbo].[Rubro] OFF
GO
SET IDENTITY_INSERT [dbo].[RubroMenu] ON 

INSERT [dbo].[RubroMenu] ([id], [descripcionMenu]) VALUES (1, N'bebida sin/A')
INSERT [dbo].[RubroMenu] ([id], [descripcionMenu]) VALUES (2, N' Papas')
INSERT [dbo].[RubroMenu] ([id], [descripcionMenu]) VALUES (3, N'Sandwiches')
SET IDENTITY_INSERT [dbo].[RubroMenu] OFF
GO
INSERT [dbo].[Turno] ([id], [nombre]) VALUES (1, N'Mañana')
INSERT [dbo].[Turno] ([id], [nombre]) VALUES (2, N'Tarde')
INSERT [dbo].[Turno] ([id], [nombre]) VALUES (3, N'Noche')
GO
ALTER TABLE [dbo].[Domicilio]  WITH CHECK ADD  CONSTRAINT [FK_Domicilio_Localidad] FOREIGN KEY([idLocalidad])
REFERENCES [dbo].[Localidad] ([id])
GO
ALTER TABLE [dbo].[Domicilio] CHECK CONSTRAINT [FK_Domicilio_Localidad]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_Persona] FOREIGN KEY([idPersona])
REFERENCES [dbo].[Persona] ([id])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [FK_Empleado_Persona]
GO
ALTER TABLE [dbo].[Localidad]  WITH CHECK ADD  CONSTRAINT [FK_Localidad_Provincia] FOREIGN KEY([idProvincia])
REFERENCES [dbo].[Provincia] ([id])
GO
ALTER TABLE [dbo].[Localidad] CHECK CONSTRAINT [FK_Localidad_Provincia]
GO
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD  CONSTRAINT [FK_Menu_RubroMenu] FOREIGN KEY([idRubroMenu])
REFERENCES [dbo].[RubroMenu] ([id])
GO
ALTER TABLE [dbo].[Menu] CHECK CONSTRAINT [FK_Menu_RubroMenu]
GO
ALTER TABLE [dbo].[Proveedor]  WITH CHECK ADD  CONSTRAINT [FK_Proveedor_Domicilio] FOREIGN KEY([idDomicilio])
REFERENCES [dbo].[Domicilio] ([id])
GO
ALTER TABLE [dbo].[Proveedor] CHECK CONSTRAINT [FK_Proveedor_Domicilio]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Cliente] FOREIGN KEY([idCliente])
REFERENCES [dbo].[Cliente] ([id])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Cliente]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_EstadoReserva] FOREIGN KEY([idEstadoReserva])
REFERENCES [dbo].[EstadoReserva] ([id])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_EstadoReserva]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Mesa] FOREIGN KEY([idMesa])
REFERENCES [dbo].[Mesa] ([id])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Mesa]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Turno] FOREIGN KEY([idTurno])
REFERENCES [dbo].[Turno] ([id])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Turno]
GO
