#Final{text-align: center;font-family: verdana, tahoma, geneva; color: #797979; font-size: 10px;}
#Final p{text-align: center;font-family: verdana, tahoma, geneva; color: #797979; font-size: 10px;}
	#Final img{width: 22px; }
#re {
	margin:auto;
	width:30%;
}